<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>345217468428-naeodeh30m6e4q55gffd32rb6o1muvfk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345217468428-naeodeh30m6e4q55gffd32rb6o1muvfk</string>
	<key>API_KEY</key>
	<string>AIzaSyBtu82Y9sXwj0V2HeVjlU_Kgsuu61g4XA0</string>
	<key>GCM_SENDER_ID</key>
	<string>345217468428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.majik0917.FireBaseTestApp</string>
	<key>PROJECT_ID</key>
	<string>swift-test-24753</string>
	<key>STORAGE_BUCKET</key>
	<string>swift-test-24753.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345217468428:ios:cd31ed74889ea0d4718629</string>
</dict>
</plist>